/*Dark Mode*/
.dark-mode {
  background: rgb(2, 180, 180);
  background: linear-gradient(
    90deg,
    rgba(2, 180, 180, 1) 28%,
    rgba(194, 19, 147, 1) 75%
  );
}
.dark-mode-button {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.switch {
  position: relative;
  width: 70px;
  height: 37px;
  display: inline-block;
}

.switch span {
  position: absolute;
  background-color: var(--main-color);
  border-radius: 17px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.4s;
}

.switch span::before {
  background-color: var(--white-color);
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 4px;
  bottom: 4px;
  height: 26px;
  width: 26px;
}

input:checked + span {
  background-color: var(--accent-color);
  transition: 0.4;
}

input:checked + span::before {
  transform: translateX(30px);
  transition: 0.4s;
}

.switch input {
  display: none;
}
