@import url(./components/button.css);
@import url(./components/card.css);
@import url(./components/navigation.css);
@import url(./components/darkmode.css);
@import url(./components/profile.css);
* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --main-color: #00ffff;
  --accent-color: #ff19c2;
  --white-color: white;
  --primary-rgb: 0, 255, 255, 1;
  --secondary-rgb: 255, 25, 194, 1;
  --background-gradient: linear-gradient(
    90deg,
    rgba(0, 255, 255, 1) 28%,
    rgba(255, 25, 194, 1) 75%
  );
  --borders: 1px solid;
}
html {
  background: var(--background-gradient);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
img {
  height: 40px;
}
h1 {
  -webkit-text-stroke: 2px black;
  color: var(--white-color);
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  margin: 20px;
}
