* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --main-color: #00ffff;
  --accent-color: #ff19c2;
  --background-color: #ffda19;
  --white-color: white;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: rgb(0, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 255, 255, 1) 28%,
    rgba(255, 25, 194, 1) 75%
  );
}
nav {
  position: sticky;
  z-index: 1;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 90px;
  background: rgb(0, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 255, 255, 1) 28%,
    rgba(255, 25, 194, 1) 75%
  );
}
img {
  height: 40px;
}
h1 {
  color: black;
  font-size: 70px;
  text-align: center;
  margin: 20px;
}
section {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: 250px;
  border: 3px solid;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
}
h2 {
  text-align: center;
  margin: 30px;
}

section > img {
  position: absolute;
  top: -15px;
  right: 15px;
  height: 40px;
}
button {
  background-color: var(--white-color);
  width: 40%;
  border-radius: 1px;
  cursor: pointer;
}
button:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: var(--white-color);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
ul {
  color: black;
  position: absolute;
  bottom: 5px;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  gap: 5px;
}
li {
  font-size: 15px;
  border: 1px solid var(--accent-color);
  background-color: #ffa5e7;
  border-radius: 2px;
  padding: 2px;
}
li:before {
  content: "\0023";
}

/* profile page */
article {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

article > img {
  height: 100px;
}

p,
h3 {
  padding: 15px;
}

.label-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid;
  border-radius: 1px;
  width: 150px;
  padding: 5px;
}

span {
  font-weight: bold;
  font-size: larger;
  align-self: center;
}
